{% assign curPageFileName = page.url | split: '/' | last | replace: '.html', '' %}
{% assign curPathName = page.url | split: currentPageFileName | first %}

{% capture curPageFileNameWithoutVer %}
{% if curPageFileName contains '_v' %}
{{ curPageFileName | split: '_v' | first }}
{% else %}
{{ curPageFileName }}
{% endif %}
{% endcapture %}

{{ curPageFileName }}
{{ curPageFileNameWithoutVer }}

{% for my_page in site.pages %} 
	{% assign tmpPageFileName = my_page.url | split: '/' | last | replace: '.html', '' %}
	{{ tmpPageFileName }}
	{% assign tmpPathName = my_page.url | split: tmpPageFileName | first %}
	{{ tmpPathName }}
	{% if curPathName == tmpPathName %}
		{{ my_page.url }}
		{% if tmpPageFileName contains '_v' %}
			{% capture liName %} version {{ tmpPageFileName |  split: '/' | last }} {% endcapture %}
			<li><a href = "{{ my_page.url }}">{{ liName }}</a></li>
		{% else %}
			<li><a href = "{{ my_page.url }}">latest version</a></li>
		{% endif %}
	{% endif %}
{% endfor %}
