<ul>
	<li><a href="{{ site.structs }}AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
	<li><a href="{{ site.structs }}Contour.html" class="otherLinkColour">Contour</a></li>
	<li><a href="{{ site.structs }}DBRPoint.html" class="otherLinkColour">DBRPoint</a></li>
	<li><a href="{{ site.structs }}DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
	<li><a href="{{ site.structs }}ExtendedResult.html" class="otherLinkColour">ExtendedResult</code></a></li>
	<li><a href="{{ site.structs }}FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
	<li><a href="{{ site.structs }}FurtherModes.html" class="otherLinkColour">FurtherModes</code></a></li>
	<li><a href="{{ site.structs }}ImageData.html" class="otherLinkColour">ImageData</code></a></li>
	<li><a href="{{ site.structs }}IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
	<li><a href="{{ site.structs }}IntermediateResultArray.html" class="otherLinkColour">IntermediateResultArray</a></li>
	<li><a href="{{ site.structs }}LineSegment.html" class="otherLinkColour">LineSegment</a></li>
	<li><a href="{{ site.structs }}LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
	<li><a href="{{ site.structs }}OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
	<li><a href="{{ site.structs }}PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
	<li><a href="{{ site.structs }}PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
	<li><a href="{{ site.structs }}QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
	<li><a href="{{ site.structs }}Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
	<li><a href="{{ site.structs }}RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
	<li><a href="{{ site.structs }}RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
	<li><a href="{{ site.structs }}SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
	<li><a href="{{ site.structs }}TextResult.html" class="otherLinkColour">TextResult</a></li>
	<li><a href="{{ site.structs }}TextResultArray.html" class="otherLinkColour">TextResultArray</a></li>
</ul>