<div class="sideBarHeader">
    <p><a href="{{ site.docHomePage }}" class="sideHomePage">< Documentation Home Page</a></p>
    <p class="sideName">C and C++</a></p>
</div>
<ul class="disc" id="menuLsitContainer" name="listLevel1">
    <li><a href="{{ site.c_cplusplus }}user-guide.html" class="otherLinkColour">User Guide</a></li>
    <li>
        API Reference
        <ul name="listLevel2">
            <li><a href="{{ site.c_cplusplus }}api-reference/c-api.html" class="otherLinkColour">C</a></li>
            <li><a href="{{ site.c_cplusplus }}reference/cpp-api.html" class="otherLinkColour">C++</a></li>
        </ul>
    </li>
    <li>
        Useful Links
        <ul name="listLevel2">
            <li class="unavailableLink">Sample Code</li>
            <li class="unavailableLink">License Agreement</li>
            <li class="unavailableLink">Release Notes</li>
            <li><a href="{{ site.parameters_reference }}parameter-glossary.html" class="otherLinkColour">Parameters</a></li>
        </ul>
    </li>
</ul>
