<ul>
    <li><a href="{{ site.c_cplusplus }}user-guide.html" class="otherLinkColour">User Guide</a></li>
    <li>
        API Reference
        <ul name="listLevel2">
            <li><a href="{{ site.c_methods }}" class="otherLinkColour">C</a></li>
            <li><a href="{{ site.cpp_methods }}" class="otherLinkColour">C++</a></li>
        </ul>
    </li>
    <li>
        Useful Links
        <ul name="listLevel2">
            <li class="unavailableLink">Sample Code</li>
            <li class="unavailableLink">License Agreement</li>
            <li class="unavailableLink">Release Notes</li>
            <li><a href="{{ site.parameters_reference }}" class="otherLinkColour">Parameters</a></li>
        </ul>
    </li>
</ul>
