<div class="sideBarHeader">
    <p><a href="{{ site.docHomePage }}" class="sideHomePage">< Documentation Home Page</a></p>
    <p class="sideName">Parameters</a></p>
</div>
<ul class="disc" id="menuLsitContainer" name="listLevel1">
    <li>
        Reference
        <ul name="listLevel2">
            <li><a href="{{ site.parameters_reference }}parameter-glossary.html" class="otherLinkColour">Parameter Glossary</a></li>
            <li><a href="{{ site.parameters_reference }}enum-glossary.html" class="otherLinkColour">Enumeration Glossary</a></li>
        </ul>
    </li>
    <li class="unavailableLink">Scenario Settings</li>
    <li class="unavailableLink">Example Image Settings</li>
</ul>