<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    <div class="wrapper">
        <div class="sideBar">
            <div class="sideBarProductPage">
                <p align="left"><img src="{{ site.dbr_logo }}" class="sideDBRLogo" alt="DBR Logo" />&nbsp;&nbsp;<a
                        href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx"
                        class="sideProductPage">Dynamsoft Barcode Reader</a></p>
            </div>
            {%- include {{ page.sidebarListFile }}.html -%}
        </div>
        <div class="container">
            <div class="main">
                <div class="content markdown-body headCounter">
                    <p align="left"><a href="https://www.dynamsoft.com/"><img src="{{ site.dynamsoft_logo }}"
                                alt="Dynamsoft Logo" /></a></p>
                    <p align="right"><a href="{{ site.repositoryUrl }}{{ page.sourceCodeUrl }}"
                            class="otherLinkColour">Edit<img src="{{ site.edit_icon }}" width="20px" height="15px" /></a>
                    </p>
                    <p>
                        <ul>
                            {%- include autoSearchFileHistory.html -%}
                         </ul>
                    </p>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

    {%- if page.needCollapsedSideBar -%}
    <script>ListExpandCollapse();</script>
    {%- endif -%}
    {%- if page.needAutoGenerateSidebar -%}
    <script>GenerateContentByHead();</script>
    {%- endif -%}
</body>

</html>
