<!DOCTYPE html>
<html lang="en-US">

{%- include head.html -%}

<body>
    <div class="wrapper">
        <div class="sideBar">
            <div class="sideBarProductPage">
                <p align="left"><img src="{{ site.dbr_logo }}" class="sideDBRLogo" alt="DBR Logo" />&nbsp;&nbsp;<a
                        href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx"
                        class="sideProductPage">Dynamsoft Barcode Reader</a></p>
            </div>
            {%- include liquid_newListTest.html -%}
        </div>
        <div class="container">
            <div class="main">
                <div class="content markdown-body headCounter">
                    <p align="left"><a href="https://www.dynamsoft.com/"><img src="{{ site.dynamsoft_logo }}"
                                alt="Dynamsoft Logo" /></a></p>
                    <h2 id="in-the-process-of-development">in the process of development…</h2>
                    <p>Back to <a href="/">Homepage</a></p>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script>
        HighlightCurrentList();
    </script>
</body>

</html>
